!!!
%html
  %head
    %title Windoze
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = javascript_include_tag 'jquery.min', 'jquery.windoze'
    = stylesheet_link_tag "application", "jquery.windoze"
    %link(href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css')
    :javascript
      $(document).ready(function() {
        $('a').windoze();
      });
  %body
    %header
      .wrapper
        %h1 Windoze
        %h2 A pretty, simple modal plugin
    %main= yield
    %footer
      .wrapper
        %p
          &copy; 2014
          = link_to "Cameron Daigle", "http://camerondaigle.com"
        %p
          Heaps of thanks to
          = link_to "Shane Riley", "http://shaneriley.info"
          and
          = link_to "the Bootstrap team", "http://getbootstrap.com"
          for making modal plugins first and influencing tons of decisions about this one.
    .wdz-modal
      %article
        %h1 Oh, hello.
        %p I didn't see you there.